# {{ ansible_managed }}
#
# ISC DHCP Server configuration
#

{% if isc_dhcp_server_domain_name | length %}
option domain-name "{{ isc_dhcp_server_domain_name }}";
{% endif %}
{% if isc_dhcp_server_dns_servers | length %}
option domain-name-servers {{ isc_dhcp_server_dns_servers | join(', ') }};
{% endif %}

{% if isc_dhcp_server_default_lease_time | int %}
default-lease-time {{ isc_dhcp_server_default_lease_time }};
{% endif %}
{% if isc_dhcp_server_max_lease_time | int %}
max-lease-time {{ isc_dhcp_server_max_lease_time }};
{% endif %}

{% if isc_dhcp_server_ddns_update_style | string %}
ddns-update-style {{ isc_dhcp_server_ddns_update_style }};
{% endif %}

{% if isc_dhcp_server_authoritative is true %}
authoritative;
{% endif %}

{% if isc_dhcp_server_log_facility | string %}
log-facility {{ isc_dhcp_server_log_facility }};
{% endif %}

{% for subnet in isc_dhcp_server_subnets %}
subnet {{ subnet.ip }} netmask {{subnet.netmask }} {
       {% if subnet.range_start is defined and subnet.range_end is defined %}
       range {{ subnet.range_start }} {{ subnet.range_end }};
       {% endif %}
       {% if subnet.domain_name is defined %}
       option domain-name "{{ subnet.domain_name }}";
       {% endif %}
       {% if subnet.dns_servers is defined %}
       option domain-name-servers {{ subnet.dns_servers | join(', ') }};
       {% endif %}
       {% if subnet.routers is defined %}
       option routers {{ subnet.routers }};
       {% endif %}
       {% if subnet.broadcast_address is defined %}
       option broadcast-address {{ subnet.broadcast_address }};
       {% endif %}
       {% if subnet.default_lease_time is defined %}
       default-lease-time {{ subnet.default_lease_time }};
       {% endif %}
       {% if subnet.max_lease_time is defined %}
       max-lease-time {{ subnet.max_lease_time }};
       {% endif %}
}
{% endfor %}
